@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body{
  transition: all 0.8s;
  font-family: "League Spartan", sans-serif;
  padding: 0;
  margin:0;
  width: 100%;
  height: 100%;
}

.lightBody{
  background-color: white;
}

.darkBody{
  background-color: #21282E;
}

h1{
  font-size: 1.8em;
}

.titleBox {
  width: fit-content;
  margin:auto;
  display: flex;
  margin-top: 35vh;
  transition: 1s;
}

.titleBox.normal {
  width: fit-content;
  margin:auto;
  display: flex;
  margin-top: 1.5em;
  transition: 1s;
}

.websiteLogo {
  width: 17.5em;
  margin: 0 0 0 0 ;
  transition: all 0.3s;
  cursor:pointer;
}

.supremeFormContainer{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.formTitle{
  padding: 0;
  margin: 0 0 0.1em 0;
  text-align: right;
  transition: 0.5s;
}

.formTitle.light{
  color: #21282E;
}

.formTitle.dark{
  color: white;
}

.formContainer{
  width:17em;
  border-radius: 1em;
  display:flex;
  flex-direction: column;
  padding:2em;
  align-items: center;
  margin:0 auto 2em auto;
}

.formContainer.light{
  background-color: #FF7A00;
}

.formContainer.dark{
  background-color: rgb(90, 96, 100);
}

.bigButton {
  display:flex;
  padding:0.6em 0.8em 0.6em 0.8em;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  border-radius: 0.5em;
  font-size: 1.2em;
  width:fit-content;
  cursor: pointer;
  margin: auto;
  text-shadow: 0 0 0.3em rgba(0,0,0,0.2);
  transition: 0.5s;
}

.bigButton.light{
  background-color: #FF7A00;
  color:white;
}

.bigButton.dark{
  background-color: white;
  color:black;
}

.bigButton:hover{
  padding:0.6em 1em 0.6em 1em;
  transition: 0.5s;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}

.inputText {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  margin:0.2em 0 0.2em 0;
  color:white;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
}

.inputField {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  border:transparent;
  border-radius: 0.2em;
  font-size: 1.2em;
  margin:0 0 0.7em 0;
  padding:0.4em 0.3em 0.3em 0.3em;
  width:85%;
}

.inputField:focus {
  outline:none;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.inputField.frequency {
  margin:0 0.5em 0 0.5em;
  width:3em;
  height:1.1em;
}

.inputField.date {
  margin:0;
}

.inputField.description{
  height:3.5em;
  resize: none;
}

.mainButton {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  border-radius: 0.2em;
  border: 0.1em solid transparent;
  font-size: 1.2em;
  padding:0.4em 1em 0.4em 1em;
  color:white;
  text-align: center;
  width:fit-content;
  cursor: pointer;
  transition: 0.5s;
  margin: 0.7em 0 0.5em 0;
  text-shadow: 0 0 0.3em rgba(0,0,0,0.3);
}

.mainButton.light {
  background-color: rgba(0, 0, 0, 0.35);
}

.mainButton.dark {
  background-color: #FF7A00;
}

.mainButton.dark2 {
  background-color: white;
  color: black;
  text-shadow: 0 0 0 rgba(0,0,0,0);
}

.mainButton.red {
  background-color: rgb(170, 33, 12);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0 rgba(0,0,0,0);
}

.mainButton:hover{
  background-color: rgba(0, 0, 0, 0.5);
  padding:0.4em 1.2em 0.4em 1.2em;
  transition: 0.5s;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.mainButton.dark2:hover {
  background-color: white;
  padding:0.4em 1.2em 0.4em 1.2em;
  transition: 0.5s;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.mainButton.red:hover {
  background-color: rgb(170, 33, 12);
  padding:0.4em 1.2em 0.4em 1.2em;
  transition: 0.5s;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.mainButton:disabled {
  cursor: not-allowed;
}

.uploadImageButton {
  cursor: pointer;
  border-radius: 0.2em;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:-0.2em 0 0 0.7em;
  height:1em;
  width:2.3em;
  padding: 0.2em;
}

.uploadImageButton.light {
  background-color: rgba(0,0,0,0.2);
}

.uploadImageButton.dark {
  background-color: #FF7A00;
}

.uploadImageButton:hover {
  width:2.5em;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}

.imageContainer{
  width:80%;
  height:8em;
  margin-bottom:0em;
  border: 0.2em solid white;
  background-size:cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  display:flex;
  justify-content: right;
}

.closeButton {
  position:relative;
  width: 1em;
  height: 1em;
  cursor: pointer;
  margin-top:-0.5em;
  margin-right:-0.5em;
  transition: 0.3s;
}

.closeButton:hover {
  width:1.1em;
  transition: 0.3s;
}

.notShow{
  display:none;
}

.corner {
  width:9em;
  position: fixed;
  z-index: -10;
}

.corner.left {
  bottom:0;
  left:0;
}

.corner.right {
  top:0;
  right:0;
  transform: rotate(180deg);
}

.profilePhotoOption{
  display: flex;
  align-items: center;
  margin-bottom: 0.1em;
}

.uploadIcon{
  height:100%;
}


.themeButtonsContainer {
  position: relative;
  display: flex;
  width:85%;
  margin-bottom: 1em;
  cursor: pointer;
}

.themeFocuser {
  position: absolute;
  border-radius: 0.8em;
  width: 2.4em;
  height: 2.4em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  transition: 1s;
  margin-top:-0.15em;
}

.themeFocuser.selectedLeft {
  margin-left:-0.5em;
  background-image: url('assets/icons/sunIcon.png');
  transition: 1s;
  transform: rotate(40deg);
}

.themeFocuser.selectedRight {
  background-image: url('assets/icons/moonIcon.png');
  margin-left:12.9em;
  transition: 1s;
  transform: rotate(180deg);
}

.themeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4em;
  position: static;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color:white;
  width:100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.4em;
  transition: 0.5s;
}

.themeButton:hover{
  transition: 0.5s;
  background-color: rgba(53, 53, 53, 0.355);
}

.goToLoginLink{
  text-decoration: none;
  color: #64380F;
  transition: 0.5s;
}

.goToLoginLink.light{
  color: #64380F;
  text-shadow: none;
}

.goToLoginLink.dark{
  color: #FF7A00;
}

.goToLoginLink:hover{
  text-decoration: underline;
  transition: 0.5s;
}

.taskCard{
  padding: 1em;
  font-family: "League Spartan", sans-serif;
  border-radius: 0.4em;
  width:85%;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  margin: 0 0 0.3em 0;
}

.taskCard.light{
  background-color: rgba(255,255,255,0.6);
  color: black;
}

.taskCard.dark{
  background-color: rgba(0,0,0,0.35);
  color: white;
}

.taskMainContainer{
  display: flex;
  align-items: self-start;
  flex-direction: row;
  width:100%;
}

.taskCheckbox{
  border-radius: 0.3em;
  min-width: 1em;
  width: 1em;
  height:1em;
  border: 0.2em solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  margin-right: 0.8em;
  transition: 0.5s;
}

.taskCheckbox:hover{
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.taskCheckbox.dark{
  border-color: black;
  color:black;
}

.taskCheckbox.light{
  border-color: white;
  color:white;
}

.taskTextContainer{
  margin-right:0.8em;
}


.taskEditButton{
  padding:0.25em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.taskEditButton:hover{
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.taskEditIcon{
  width:1.6em;
}

.taskCardTitle{
  padding: 0;
  font-weight: 700;
  font-size: 1.2em;
  margin:0 0 -0.1em 0;
}

.taskCardDescription{
  padding: 0;
  margin:0 0 0 0;
}

.taskCardDate{
  padding: 0;
  margin:0.7em 0 -0.2em 0;
}

.sectionContainer{
  width:16em;
  height:30em;
  border-radius: 1em;
  display:flex;
  flex-direction: column;
  padding:1em;
  align-items: center;
  margin:0;
  position: relative;
}

.sectionContainer.light{
  background-color: rgb(90, 96, 100);
}

.sectionContainer.dark{
  background-color: #FF7A00;
}

.sectionTitle{
  color:white;
  padding: 0;
  margin: 0.2em 0 0.5em 0;
  text-align: right;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.4);
}

.sectionText{
  color:white;
  margin: 1em 0 0.5em 0;
  text-align: center;
  font-weight: 700;
}

.noTasksText{
  width: 100%;
  height:100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color:white;
  font-weight: 700;
}

.addTaskButton{
  width:0.8em;
  height:0.8em;
  background-color: rgba(0,0,0,0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2em;
  padding:0.2em 0.1em 0 0.1em;
  border-radius: 0.2em;
  margin:0;
  position: absolute;
  top:0.6em;
  right:0.6em;
  cursor: pointer;
  transition: 0.5s;
}

.addTaskButton.light{
  background-color: white;
  color: black;
}

.addTaskButton.dark{
  background-color: rgba(0,0,0,0.35);
  color:white;
}

.addTaskButton:hover{
  width:1em;
  transition: 0.5s;
  box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.4);
}

.tasksContainer{
  height: 25em;
  overflow-y: auto;
  overflow-x:hidden;
  width:100%;
}

.tasksContainer::-webkit-scrollbar {
  width: 0.5em;
}

.tasksContainer::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.625em;
}

.tasksContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1.25em;
}

.userSectionContainer{
  width:16em;
  height:15em;
  border-radius: 1em;
  display:flex;
  flex-direction: column;
  padding:1em;
  align-items: center;
  margin:0;
  position: relative;
  color:white;
}

.userSectionContainer.withPic{
  background-color: rgba(0, 0, 0, 0.3);
}

.userSectionContainer.noPic{
  background-color: rgba(0, 0, 0, 0);
}

.userEditIcon{
  width:1.5em;
}

.userEditButton{
  padding:0.3em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top:1.1em;
  right:1.1em;
  transition: 0.5s;
  background-color: rgba(0,0,0,0.35);
}

.userEditButton.logoutButton{
  top:3.5em;
}


.userEditButton.userGoBackButton{
  left:1.1em;
  right:auto;
}

.userEditButton:hover{
  transition: 0.5s;
  padding:0.3em 0.5em 0.3em 0.5em;
  box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.4);
}

.userImage{
  position: absolute;
  border-radius: 1em;
  width:100%;
  height:100%;
  background-size: cover;
  background-position: center;
  top:0;
  bottom:0;
  margin: 0;
  z-index: -3;
}

.userNameContainer{
  height: 80%;
  width:90%;
  display: flex;
  flex-direction: column;
  align-items:end;
  justify-content:end;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.userCardTitle{
  padding: 0;
  font-weight: 700;
  font-size: 1.5em;
  margin:0 0 -0.1em 0;
}

.userCardDescription{
  padding: 0;
  font-size: 1.2em;
  margin:0 0 0 0;
}

.sectionsMainContainer{
  display: flex;
  justify-content: space-between;
  width: 55.5em;
  margin: 0.5em auto 2em auto;
}

.leftSectionContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendarSectionContainer{
  width:16em;
  height:12.1em;
  border-radius: 1em;
  display:flex;
  flex-direction: row;
  padding:1em;
  align-items: center;
  justify-content: center;
  margin:0;
  position: relative;
}

.calendarSectionContainer.light{
  background-color: rgba(33, 40, 46, 0.16);
}

.calendarSectionContainer.dark{
  background-color: rgba(255, 255, 255, 0.86);
}

.dateContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.dayText{
  margin:0;
  font-size: 1.2em;
  color:black;
}

.dayNumberText{
  margin:0em 0 -0.1em 0;
  font-size: 4em;
  font-weight: 700;
  color:black;
}

.monthText{
  margin:0;
  font-size: 1.4em;
  font-weight: 700;
  color:black;
}

.yearText{
  margin:0;
  font-size: 2em;
  font-weight: 700;
  color: #FF7A00;
}

.verticalSeparator{
  width:0.1em;
  height:85%;
  background-color: black;
  margin: 0 1.5em 0 1.5em;
}
          
.hourText{
  margin:0;
  font-size: 3.5em;
  font-weight: 700;
  color:black;
}

.minutesText{
  margin:-0.2em 0 -0.3em 0;
  font-size: 3.5em;
  font-weight: 700;
  color:black;
}
.amPmText{
  margin:0;
  font-size: 2.8em;
  font-weight: 700;
  color:#FF7A00;
}
                   
.userEditFormContainer{
  width:100%;
  display:flex;
  flex-direction: column;
  padding:0;
  align-items: center;
  margin:0;
}

.emailFieldText {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin:-0.1em 0 0.2em 0;
  color:white;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
}

.userEditColumn{
  display: flex;
  flex-direction: column;
  align-items: self-start;
  width: 50%;
}

.wideSectionContainer{
  width:27em;
  height:24em;
  border-radius: 1em;
  display:flex;
  flex-direction: column;
  padding:0.1em 1.5em 0em 1.5em;
  align-items: center;
  justify-content: center;
  margin:0.5em auto 2em auto;
  position: relative;
}

.wideSectionContainer.light{
  background-color: rgb(90, 96, 100);
}

.wideSectionContainer.dark{
  background-color: #FF7A00;
}

.userEditFieldsContainer{
  display: flex;
  flex-direction: row;
  width:100%;
  height:14.5em;
  margin-left: 1.7em;
}

.userEditButtons{
  display: flex;
  width:15.5em;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin:0;
}

.taskEditButtons{
  display: flex;
  width:78%;
  flex-direction: row;
  align-items: center;
  margin-top:0.3em;
  justify-content: space-between;
}

.themeButtonsContainer2 {
  position: relative;
  display: flex;
  width:85%;
  margin-bottom: 0.7em;
  cursor: pointer;
  height:2em
}

.themeFocuser.selectedRight2 {
  background-image: url('assets/icons/moonIcon.png');
  margin-left:10em;
  transition: 1s;
  transform: rotate(180deg);
}


.taskEditFormContainer{
  width:100%;
  display:flex;
  flex-direction: column;
  padding:0;
  align-items: center;
  margin:0;
}

.smallSectionContainer{
  width:20em;
  height:25em;
  border-radius: 1em;
  display:flex;
  flex-direction: column;
  padding:0.2em 1em 0em 1em;
  align-items: center;
  justify-content: center;
  margin:0.5em auto 2em auto;
  position: relative;
}

.smallSectionContainer.light{
  background-color: rgb(90, 96, 100);
}

.smallSectionContainer.dark{
  background-color: #FF7A00;
}

.frequencyContainer{
  display: flex;
  align-items: center;
}